*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body__div{
    background-color: #757575;
}
.header__{
    background-color: #2a2a2a;
}

.conteiner{
    max-width: 1440px;
    height: 427px;
    margin: auto;
    width: 100%;
    padding: 20px;
}


.header__ota{
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 20px;
  margin-top: 50px;
}


.inp {
  border: 1px solid #cfd4d9;
  border-radius: 6px;
  max-width: 200px;
  width: 100%;
  color: #6c757d;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 19px;
  background: #ffffff;
  padding: 10px;
}


.ota{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: auto;
  /* background-color: #333333; */
}


select {
  border: 1px solid rgb(206, 212, 218);
  border-radius: 6px;
  color: rgb(33, 37, 41);
  max-width: 200px;
  width: 100%;
  font-size: 15.63px;
  font-weight: 400;
  line-height: 24px;
  background: rgb(255, 255, 255);
  padding: 10px;
}



.submit{
  box-sizing: border-box;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 6px;
  color: rgb(255, 255, 255);
  padding: 10px 0;
  max-width: 200px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  background: #D9534F;
}



.item {
  max-width: 1440px;
  width: 250px;
  height: 380px;
  margin: 0 auto;
  box-shadow: inset 0px -2px 6px 0px rgba(10, 37, 64, 0.35),
    0px 30px 60px -30px rgba(0, 0, 0, 0.3),
    0px 50px 100px -20px rgba(50, 50, 93, 0.25);
  background: #333333;
  /* position: relative;/ */
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  display: flex;
  text-align: center;

  font-size: 12px;
  color: #ffffff;

  border-radius: 10px;

}


.div__text{
  display: flex;
  gap: 30px;
}


 .tilip{
  font-size: 12px;
  font-weight:700;
  color: #ffffff; 
}

.topilmadi{
  font-size: 40px;
  font-weight:700;
  color: #ff0000; 
}



.but{
  width: 100px;
  height: 30px;
  color: #ffffff;
  background-color: chartreuse;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}